<br/>
<div>
  <form>
    <div class="input-group">
      <input type="search" id="search" placeholder="Search" class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </span>
    </div>
    <div class="input-group clear-filters-container">
      <a href="#" class="clear-filters">clear filters</a>
    </div>
  </form>
</div>
<div class="filters-container">
</div>