.elem
  padding-top 10px
  padding-bottom 10px
  background-color: #f9f9f9

#details
  font-size: medium;

.detail
  border-bottom: groove;
  border-color: silver;
  margin-bottom: 2px;
  padding-bottom: 2px;
  font-size 10pt

.detail .name-attr
  font-weight 700

#filters ul
  list-style-type: none;

input[type="search"] {
  -webkit-appearance: searchfield !important;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button !important;
}