@import 'normalize'
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css"


#js-app
  font-size 20px

#view
  background-color: #f9f9f9
  padding-bottom 10px
  padding-top 10px

.elem
  padding-top 10px
  padding-bottom 10px

a
  cursor pointer

#product
  background-color: #f9f9f9

#details
  font-size: medium;
.detail
  border-bottom: groove;
  border-color: silver;
  margin-bottom: 2px;
  padding-bottom: 2px;
  font-size 10pt

.detail .name-attr
  font-weight 700

#filter ul
  list-style-type: none;

#filter ul li span
  margin-left : -35px

