<div id="home" class="container">
    <div id="navigation" class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="text" id="text-search" placeholder="Search">
            <span class="glyphicon glyphicon-search"></span>
        </div>

        <div id="cpu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>CPU</span>
            <ul style="list-style-type: none">
                <li><input class="filter" type="checkbox" id="checkcpu1" name="cpu" value="Intel Core i7"> <label for="checkcpu1">Intel Core i7</label></li>
                <li><input class="filter" type="checkbox" id="checkcpu3" name="cpu" value="Intel Core i5"> <label for="checkcpu3">Intel Core i5</label></li>
                <li><input class="filter" type="checkbox" id="checkcpu5" name="cpu" value="Intel Core i3"> <label for="checkcpu5">Intel Core i3</label></li>
                <li><input class="filter" type="checkbox" id="checkcpu4" name="cpu" value="Intel Celeron"> <label for="checkcpu4">Intel Celeron</label></li>
                <li><input class="filter" type="checkbox" id="checkcpu6" name="cpu" value="Intel Pentium"> <label for="checkcpu6">Intel Pentium</label></li>
                <li><input class="filter" type="checkbox" id="checkcpu2" name="cpu" value="Intel Xeon"> <label for="checkcpu2">Intel Xeon</label></li>
            </ul>
        </div>
        <div id="date" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Date</span>
            <ul style="list-style-type: none">
                <li><input class="filter" type="checkbox" id="checkdate1" name="date" value="2017"> <label for="checkdate1">2017</label></li>
                <li><input class="filter" type="checkbox" id="checkdate2" name="date" value="2016"> <label for="checkdate2">2016</label></li>
                <li><input class="filter" type="checkbox" id="checkdate3" name="date" value="2015"> <label for="checkdate3">2015</label></li>
                <li><input class="filter" type="checkbox" id="checkdate4" name="date" value="2014"> <label for="checkdate4">2014</label></li>
            </ul>
        </div>
        <div id="diagonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Diagonal</span>
            <ul style="list-style-type: none">
                <li><input class="filter" type="checkbox" id="checkdiaginal2" name="diagonal" value="17.3"> <label for="checkdiaginal2">17.3</label></li>
                <li><input class="filter" type="checkbox" id="checkdiaginal1" name="diagonal" value="15.6"> <label for="checkdiaginal1">15.6</label></li>
                <li><input class="filter" type="checkbox" id="checkdiaginal4" name="diagonal" value="14.0"> <label for="checkdiaginal4">14.0</label></li>
                <li><input class="filter" type="checkbox" id="checkdiaginal3" name="diagonal" value="13.3"> <label for="checkdiaginal3">13.3</label></li>
            </ul>
        </div>
    </div>
    <div id ="view" class="col-lg-8 col-md-8 col-sm-7 col-xs-12"></div>
</div>







