<div id="home">
    <div id="navigation" class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button id="btn-search" type="button">S</button>
            <input type="text" id="text-search">
        </div>

        <div id="cpu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>CPU</span>
            <ul style="list-style-type: none">
                <li><input type="checkbox" id="checkcpu1" name="cpu" value="Intel Core i7"><label for="checkcpu1">Intel Core i7</label></li>
                <li><input type="checkbox" id="checkcpu2" name="cpu" value="Intel Xeon"><label for="checkcpu2">Intel Xeon</label></li>
            </ul>
        </div>
        <div id="date" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Date</span>
            <ul style="list-style-type: none">
                <li><input type="checkbox" id="checkdate1" name="date" value="2017"><label for="checkdate1">2017</label></li>
                <li><input type="checkbox" id="checkdate2" name="date" value="2016"><label for="checkdate2">2016</label></li>
                <li><input type="checkbox" id="checkdate3" name="date" value="2015"><label for="checkdate3">2015</label></li>
            </ul>
        </div>
        <div id="diagonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Diagonal</span>
            <ul style="list-style-type: none">
                <li><input type="checkbox" id="checkdiaginal1" name="diagonal" value="15.6"><label for="checkdiaginal1">15.6</label></li>
                <li><input type="checkbox" id="checkdiaginal2" name="diagonal" value="17.3"><label for="checkdiaginal2">17.3</label></li>
                <li><input type="checkbox" id="checkdiaginal3" name="diagonal" value="12.5"><label for="checkdiaginal3">12.5</label></li>
            </ul>
        </div>
    </div>
    <div id ="view" class="col-lg-8 col-md-8 col-sm-7 col-xs-12"></div>
</div>
<div id="det">

</div>






